<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Main Page</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h1>Welcome</h1>
<form action="/generator" method="get" accept-charset="utf-8">
 <input type="text" name="show_cast" placeholder="Enter a actor">
    <input type="submit" value="Search Movie">
</form>

</body>
</html>
