<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Main Page</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link href="https://fonts.googleapis.com/css?family=Trirong|Yellowtail" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body class= "indexBody">
  <body>
    <h1 class="indexLogo">Stay-at-Home</h1>
      <div>
        <a class= "indexLink" href="/signup">Sign Up</a>
        <a class= "indexLink"href="/login">Log In</a>
      </div>
  </body>
</html>

