/*INDEX.EJS*/


.indexBody{
  height: auto;
  width: 100%;
  background-color: black;
  text-align: center;
}

.indexLogo{
  font-family: 'Yellowtail', cursive;
  color: #ffc107;
  font-size: 15vw;
}

.indexLink{
  font-family: 'Trirong', serif;
  color: #f5f5f5;
  font-size: 5vw;
  text-decoration: none;
}

.indexLink:hover{
  color: #81c784;
}


/*SIGNUP.EJS*/


.signupBody{
  height: auto;
  width: 100%;
  background-color: black;
  text-align: center;
}

.signupLogo{
  font-family: 'Yellowtail', cursive;
  color: #ffc107;
  font-size: 5em;
}

.signupLogo:hover{
  color: #f5f5f5;
}

.signupLink{
  text-decoration: none;
}

.signupContainer{
  height: 18em;
  width: 15em;
  background-color: #f5f5f5;
  margin: auto;

}

.signupItem{
  height: 5em;
  width: 8em;
  font-family: 'Trirong', serif;
  color: #000000 ;
  margin: auto;
}


/*LOGIN.EJS*/


.loginBody{
  height: auto;
  width: 100%;
  background-color: black;
  text-align: center;
}

.loginLogo{
  font-family: 'Yellowtail', cursive;
  color: #ffc107;
  font-size: 5em;
}

.loginLogo:hover{
  color: #f5f5f5;
}

.loginLink{
  text-decoration: none;
}

.loginContainer{
  height: 18em;
  width: 15em;
  background-color: #f5f5f5;
  margin: auto;
}

.loginItem{
  height: 5em;
  width: 8em;
  font-family: 'Trirong', serif;
  color: #000000 ;
  margin: auto;
}


/*SAVED.EJS*/


.savedBody{
  height: auto;
  width: 100%;
  background-color: black;
  text-align: center;
}

.savedBackground{
  height: 100%;
  width: 80%;
  margin: auto;
  background-color: white;
}

.savedWelcome{
  font-family: 'Yellowtail', cursive;
  color: #000000;
  font-size: 5em;
}

.savedSearch{
  font-family: 'Trirong', serif;
  color: #ffc107;
  font-size: 3em;
  text-decoration: none;
}

.savedSearch:hover{
  color: #f5f5f5;
}

.savedLogout{

}

.savedContainer{

}

.savedItem{
  height: 20em;
  width: 40em;
  font-family: 'Trirong', serif;
  color: black;
  border: solid black 1px;
  margin: auto;
  -webkit-box-shadow: -16px 15px 37px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: -16px 15px 37px 2px rgba(0,0,0,0.75);
  box-shadow: -16px 15px 37px 2px rgba(0,0,0,0.75);
  display: inline-block;
}

.savedData{
  font-family: 'Trirong', serif;
  color: #000000;
}

.savedDataBox{
  height: 15em;
  width: 30em;
  border: solid black 1px;
  margin: auto
}

.savedRecipe{
  font-family: 'Trirong', serif;
  color: #000000;
  text-decoration: none;
}

.savedRecipe:hover{
  color: #81c784;
}

.savedEdit{
  font-family: 'Trirong', serif;
  color: #000000;
  text-decoration: none;
}

.savedEdit:hover{
  color: #81c784;
}

/*EDIT.EJS*/

.editBody{
  height: auto;
  width: 100%;
  background-color: black;
  text-align: center;
}

.editTitle{
  font-family: 'Trirong', serif;
  color: #ffc107;
  font-size: 3em;
}

.editContainer{
  height: 18em;
  width: 20em;
  background-color: #f5f5f5;
  margin: auto;

}

.editMovie, .editRecipe, .editForm{
  font-family: 'Trirong', serif;
  color: #000000 ;
}


/*GENERATOR.EJS*/

.gBody{
  height: auto;
  width: 100%;
  background-color: black;
  text-align: center;
}

.gnav:hover{
  color: #f5f5f5;
}

.gnav{
  font-family: 'Yellowtail', cursive;
  color: #ffc107;
  font-size: 3em;
  text-decoration: none;
  display: inline-block;
  float:left;
  margin: 5px;
}

.gnavSaved{
  display: inline-block;
  float: left;
  font-size: 2em;
  margin: 5px;
  text-decoration: none;
  font-family: 'Trirong', serif;
}

.gnavSaved:hover{
  color: #f5f5f5;
}

img{
  height:50vh;
  width:23vw;
}

.gContainer{
}


.gMovieContainer, .gRecipeContainer{
  border: none;
}

.gMovieItem{
  height: 80vh;
  width: 30vw;
  background-color: #ffffff;
  display: inline-block;
}

.gMovieData{
  height:20vh;
  width: 30vw;
  overflow-y: scroll;
}

.gRecipeItem{
  height: 60vh;
  width: 60vh;
  background-color: #ffffff;
  border-radius: 50%;
  display: table-cell;
  vertical-align:middle;
}


