/*generator.ejs*/
body{
  height: auto;
  width: 100%;
  text-align: center;
}

/*movie selection*/


img{
  height:300px;
  width:200px;
}

.flexboxContainer{
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

.flexboxItem{
  height: 20em;
  width: 20em;
  margin: 2em;
  padding: 1em;
}

.flexboxMovies{
  height: 8em;
  width: 8em;

}

.movieContainer{
  height: 100px;
  width: 200px;
  overflow-y: scroll;
}
/*recipe selections*/

.flexboxItem2{
  height: 15em;
  width: 15em;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  background-color: #000000;
  color: #ffffff;
  bottom: 20%;
}
